@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
//Navbar
.navbar {
    background-image: linear-gradient(#1F8C78, rgba(15, 242, 136, 0));
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.nav-logo{
    width: 80px;
}

.linkTag {
    text-decoration: none;
    color: black;
}

.linkTag:hover {
    text-decoration: none;
    color: rgb(41, 41, 41);
    cursor: pointer;
}

.navbar-nav .nav-item.active {
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 0.3rem;
}
//Navbar

//jumbotron
.jumbotron {
    padding-top: 11rem;
    padding-bottom: 10rem;
}

// clase creada, contiene imagen de fondo, si quieren pueden utilizarla (.bg-image)
.bg-image{
    background-image: url("https://images.unsplash.com/photo-1578429829702-37f6e0f6c44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
}

body{
    background-color: #191919;
    color: whitesmoke;
}
//jumbotron

// INICIO ESTILO DESTACADOS
.fondoDestacados{
    background-color: #003643;
}

.imgDest{
    transition: transform .2s;
    box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.2)

}

.imgDest:hover{
    transform: scale(1.05);
}

.sameSizeImgs img {
height: 360px;
width: 360px;
object-fit: cover;
}

.locationDest{
    font-size: 0.8rem;
}
// FIN ESTILO DESTACADOS


/* Footer styling NatiBP */
footer {
    background-color:  #003643;
    color: rgb(250, 250, 255)
}

footer h3 {
    margin-bottom: 2rem;
}

footer .fab {
    font-size: 2rem;
    color: rgb(250, 250, 255);
}

footer .fab:hover,
footer .indexList li:hover {
    color: #E1D5F5;
}
/* /Footer styling Nati BP */

/* DescripHome Nati BP*/
.stackImgs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.stackImg_item.background {
    grid-row: 1;
    grid-column: 1 / span 6;
}

.stackImg_item.back {
    grid-row: 1;
    grid-column: 3 / -1;
    z-index: 1;
    padding-top: 6rem;
}

.stackImg_item.front {
    grid-row: 1;
    grid-column: 2 / span 3;
    z-index: 2;
    padding-top: 2rem;
}

.textTurismo {
    grid-row: 1;
    grid-column: 7 / span 3;
    padding-top: 6rem;
}
/* //DescripHome Nati BP*/

/* Mapa InfoPlace */
.mapaInfoPlace {
    margin-bottom: 4rem;
}

iframe {
    margin: none;
    padding: none;
    overflow: hidden;
    border: none;
}
/* //Mapa InfoPlace */

/* Comments InfoPlace Nati BP */
.infoPlace {
    background-color: #282828;
}

.userComments {
    color: white;
}

.userComments .comment {
   background-color: rgba(255, 255, 255, 0.3);
   color: inherit;
}
/* //Comments InfoPlace Nati BP */

/* Star Rating InfoPlace Nati BP*/
.starIcon {
    width: 1.3rem;
    height: 1.3rem;
}

.starLine {
    display: flex;
    flex-direction: row;
}
/* //Star Rating InfoPlace InfoPlace Nati BP*/

/*Formulario Comments InfoPlace Nati BP*/
.userRating {
    color: white;
}

.userRating .btn {
    background-color: rgb(14, 223, 125);
    color: inherit;
}

.btn:hover {
    background-color: rgb(11, 196, 109);
    color: inherit;
}
/* //Formulario Comments InfoPlace Nati BP */

//ComingSoon
.column {
  float: center;
  width: 50%;
  padding: 5px;
}
.column img {
  margin-top: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .column img{
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
}
.row .column img:hover{
    filter: grayscale(0) brightness(1);
}
.firts-photo{
    margin-left: 22rem;
}
.second-photo{
    margin-left: 22rem;
}

// BOTONES Y CONTENEDOR LOGIN REDES SOCIALES
#cont-formLogin{
    margin-top: 9%;
    margin-bottom: 5%;
    
}
#cont-img-login{
    margin: 0;
    padding: 0;
    background-image: url(https://static.brusheezy.com/system/resources/previews/000/013/939/original/grunge-texture-by-krist-photoshop-textures.jpg);
    background-size: cover;
    height: auto;
}

.facebook{
    background-color: #3B5998;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    height: 45px;
    font-size: 14px;
}

.facebook:hover {
  background-color: #4e71ba;
}

#or {
  display: flex;
  flex-direction: row;
}
#or:before, #or:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
#or:before {
  margin-left: 750px;
  margin-right: 30px
}
#or:after {
  margin-left: 30px;
  margin-right: 750px
}
// BOTONES LOGIN REDES SOCIALES

//Carousel
#cube-container {
    padding-top: 5rem;
	width: 300px;
	height: 300px;
	margin: 80px auto;
	perspective: 800px;			
}

#cube-container:before {
	content: '';
  position: absolute; 
	top: 90px;
	left: 0;
	width: 100%; 
	height: 100%;	
	box-shadow: 0 0 75px 20px rgba(0, 0, 0, 0.1), inset 0 0 350px 350px rgba(0, 0, 0, 0.1);	
	transform: rotateX(95deg) translateZ(-80px) scale(1);	
	animation: rotateShadow 16s infinite;	
}

.cube {	
	height: 100%;
	width: 100%;
	position: relative;
	transform-style: preserve-3d;			
	transition: all 0.8s ease-in-out;		
	animation: rotate 16s infinite;	
}

.cube img {
	position: absolute;
	width: 240px;
	height: 240px;		
	backface-visibility: hidden;		
}

.cube img:nth-child(1) {
	transform: rotateY(0deg) translateZ(120px);
}
.cube img:nth-child(2) {
	transform: rotateY(90deg) translateZ(120px);
}
.cube img:nth-child(3) {
	transform: rotateY(-90deg) translateZ(120px);
}
.cube img:nth-child(4) {
	transform: rotateY(180deg) translateZ(120px);
}

@keyframes rotate {
	0% { transform: rotateY(0deg); }		
	25% { transform: rotateY(90deg); }		
	50% { transform: rotateY(180deg);}	
	75% {  transform: rotateY(270deg); }	
	100% { transform: rotateY(360deg); }
}

@keyframes rotateShadow {
	0% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(360deg); }		
	25% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(270deg); }		
	50% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(180deg);}	
	75% {  transform: rotateX(95deg) translateZ(-80px) scale(1)  rotateZ(90deg); }	
	100% { transform: rotateX(95deg) translateZ(-80px) scale(1)  rotateZ(0deg); }
}


//DescripPlace
.text-description{
    grid-row: 1;
    grid-column: 2 / span 4;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.descrip_place.background{
    margin-top: 15rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-bottom: 5rem;
}

.descrip_place.back{
    grid-row: 1;
    grid-column: 9 / -1;
    z-index: 1;
    padding-top: 7rem;
    position: relative;
    top: 2rem;
    left: 2rem;

}

.descrip_place.front{
    grid-row: 1;
    grid-column: 8 / span 3;
    z-index: 2;
    position: relative;
    bottom: 1rem;
}

// ESTILOS SIGNUP
#bgimg{
    margin: 0;
    padding: 0;
    background-image: url(https://static.brusheezy.com/system/resources/previews/000/013/939/original/grunge-texture-by-krist-photoshop-textures.jpg);
    background-size: cover;
    height: auto;
}

#cont-formSignUp{
    margin-top: 8%;
    margin-bottom: 5%;
}

#formSignUp{
    margin: auto;
    width: 500px;
    background: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
// FIN ESTILOS SIGNUP

// ESTILOS PASSWORD RECOVERY
.bg-pass{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://static.brusheezy.com/system/resources/previews/000/013/939/original/grunge-texture-by-krist-photoshop-textures.jpg);
    background-size: cover;
}
.contpassword{
    margin-top: 150px;
}

.box{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    margin: auto;
    width: 500px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.box h2{
    margin: 0 0 30px;
    padding: 0%;
    color: whitesmoke;
    text-align: center;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: whitesmoke;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: white;
    font-size: 16px;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: whitesmoke;
    background: #003643;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
// FIN ESTILOS PASSWORD RECOVERY

//RESET
.cont-reset-password{
    margin-top: 8%;
    margin-bottom: 5%;
}

.bg-pass-reset{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://static.brusheezy.com/system/resources/previews/000/013/939/original/grunge-texture-by-krist-photoshop-textures.jpg);
    background-size: cover;
}