// INICIO ESTILO DESTACADOS
.fondoDestacados{
    background-color: #323C73;
}

.imgDest{
    border-radius: 15px;
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgDest:hover{
    transform: scale(1.1);
}

.locationDest{
    font-size: 15px;
}

.SubTitlDest{
    font-size: 16px;
    margin-left: 4rem;
}

.TitlDest{
    margin-left: 4rem;
}
// FIN ESTILO DESTACADOS


/* Footer styling NatiBP */
footer {
    background-color:  #3D4A8F;
    color: rgb(250, 250, 255)
}

footer h3 {
    margin-bottom: 2rem;
}

footer .fab {
    font-size: 2rem;
    color: rgb(250, 250, 255);
}

footer .fab:hover,
footer .indexList li:hover {
    color: #E1D5F5;
}
/* /Footer styling Nati BP */

/* DescripHome Nati BP*/
.stackImgs {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.stackImg_item.background {
    grid-row: 1;
    grid-column: 1 / span 6;
}

.stackImg_item.back {
    grid-row: 1;
    grid-column: 3 / -1;
    z-index: 1;
    padding-top: 6rem;
}

.stackImg_item.front {
    grid-row: 1;
    grid-column: 2 / span 3;
    z-index: 2;
    padding-top: 2rem;
}

.textTurismo {
    grid-row: 1;
    grid-column: 7 / span 3;
    padding-top: 6rem;
}
/* //DescripHome Nati BP*/

/* Comments InfoPlace Nati BP */
.userComments {
    background-color: #323C73; //recuerden que este color es solo temporal, para que pueda apreciarse la cajita de comments
    color: white;
}

.userComments .comment {
   background-color: rgba(255, 255, 255, 0.3);
   color: inherit;
}
/* //Comments InfoPlace Nati BP */

/* Star Rating InfoPlace Nati BP*/
.starIcon {
    width: 1.3rem;
    height: 1.3rem;
}

.starLine {
    display: flex;
    flex-direction: row;
}
/* //Star Rating InfoPlace InfoPlace Nati BP*/

/*Formulario Comments InfoPlace Nati BP*/
.userRating {
    background-color: #323C73; //recuerden que este color es solo temporal, para que pueda apreciarse el formulario
    color: white;
}

.userRating .btn {
    background-color: rgb(14, 223, 125);
    color: inherit;
}

.btn:hover {
    background-color: rgb(11, 196, 109);
    color: inherit;
}
/* //Formulario Comments InfoPlace Nati BP */

// clase creada, contiene imagen de fondo, si quieren pueden utilizarla (.bg-image)
.bg-image{
    background-image: url("https://images.unsplash.com/photo-1578429829702-37f6e0f6c44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80");
}

.nav-logo{
    width: 80px;
}

//ComingSoon
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 8px;
}
.column img {
  margin-top: 12px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .column img{
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
}
.row .column img:hover{
    filter: grayscale(0) brightness(1);
}